.*
!.htaccess
!.user.ini
.git
.github
.gitignore
.idea
.tx
build
contribute
test
*.md
*.js
*.json
*.xml
*.sh
!cron.sh
!entrypoint.sh
!upgrade.exclude
LICENSE
Makefile
Dockerfile*
COPYING-README
deployscripts